<%- include('partial/header') %>


<body>

<%- include('partial/headerSecret') %>




<div class="" style="padding: 100px 200px">
  <div class="bg-light" style="padding: 50px 100px; border-radius:10px">
    <h1><%= title %></h1>

    <p><%= content %> </p>

  </div>


</div>


</body>

<%- include('partial/footer') %>
