<%- include('partial/header') %>


<body>


  <%- include('partial/headerSecret') %>



  <div class="" style="padding: 100px 200px">
    <h1>Секреты пользователей</h1>
    <% for (var i =0 ; i<array.length; i ++) { %>
    <div class="bg-light" style="padding: 50px 100px; border-radius:10px ;margin-bottom:30px">
      <h3><%= array[i].title %></h3>
      <p><%= array[i].text.substring(0, 100) + " ..." %>  <a href="/Secrets/<%=array[i].title%>">Read More</a></p>
    </div>

    <% } %>
  </div>



</body>

<%- include('partial/footer') %>
